In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import datetime

In [3]:
'''transforms column to int, which is number of days unitl Date'''
def days_to_date(df, cols, date=datetime.date.today()):
  df_copy = df.copy()
  for i in cols:
    df_copy[i] = df_copy[i].apply(lambda x: datetime.datetime.strptime(x[:20],"%Y-%m-%d"))
    df_copy[i] = df_copy[i].apply(lambda x: (date - x).days)
  return df_copy

In [ ]:
def fix_skew(df, cols):
    df_copy = df.copy()
    for i in cols:
        df_copy[f"{i}_ln"] = np.log(df_copy[i])
    return df_copy

In [ ]:
def

In [4]:
df = pd.read_csv("noReplies.csv")

In [5]:
df.head()

,id,handle,followers,text,lang,possibly_sensitive,retweet_count,reply_count,like_count,quote_count,...,contains_quote,is_reply,num_referenced_tweets,url_image,num_hashtags,text_first_hashtag,num_mentions,num_cashtags,num_polls,interaction_score
0,1221160812389203969,Applebees,599611,Hurry in before the blue moon is gone. Not tha...,en,False,7,11,49,1,...,False,False,0,NaN,0,NaN,0,0,0,0.000101
1,1106316070821003265,Applebees,599611,cool me neither,en,False,23,4,63,3,...,False,False,0,NaN,0,NaN,0,0,0,0.000194
2,1106314060310679552,Applebees,599611,have you ever thought about how reading out lo...,en,False,7,4,50,2,...,False,False,0,NaN,0,NaN,0,0,0,0.000097
3,1106311542570713089,Applebees,599611,so did St. Patrick like...invent beer?,en,False,20,3,79,4,...,False,False,0,NaN,0,NaN,0,0,0,0.000198
4,1106309275612311552,Applebees,599611,"Once I found a three-leaf clover, and then I g...",en,False,7,3,47,3,...,False,False,0,NaN,0,NaN,0,0,0,0.000099

In [16]:
for i in df:
    data_type = type(df[i][0])
    missing = df[i].isna().sum()
    unique = df[i].nunique()
    if i in df.select_dtypes(np.number): skew = df[i].skew()
    else: skew = 0
    print(f"Column {i}: type {data_type}, missing {missing}, unique {unique}, skew {skew}")

Column id: type <class 'numpy.int64'>, missing 0, unique 99993, skew -1.0712624565589632
Column handle: type <class 'str'>, missing 0, unique 126, skew 0
Column followers: type <class 'numpy.int64'>, missing 0, unique 157, skew 7.020832386279302
Column text: type <class 'str'>, missing 0, unique 99367, skew 0
Column lang: type <class 'str'>, missing 0, unique 33, skew 0
Column possibly_sensitive: type <class 'numpy.bool_'>, missing 0, unique 2, skew 0
Column retweet_count: type <class 'numpy.int64'>, missing 0, unique 1924, skew 61.324940256998474
Column reply_count: type <class 'numpy.int64'>, missing 0, unique 1165, skew 101.62613788870402
Column like_count: type <class 'numpy.int64'>, missing 0, unique 4316, skew 86.48102759482408
Column quote_count: type <class 'numpy.int64'>, missing 0, unique 863, skew 84.26571552888785
Column reply_settings: type <class 'str'>, missing 0, unique 3, skew 0
Column source: type <class 'str'>, missing 0, unique 76, skew 0
Column created_at: type <class 'str'>, missing 0, unique 98613, skew 0
Column is_retweet: type <class 'numpy.bool_'>, missing 0, unique 2, skew 0
Column contains_quote: type <class 'numpy.bool_'>, missing 0, unique 2, skew 0
Column is_reply: type <class 'numpy.bool_'>, missing 0, unique 2, skew 0
Column num_referenced_tweets: type <class 'numpy.int64'>, missing 0, unique 3, skew 1.4263367828835445
Column url_image: type <class 'float'>, missing 99484, unique 263, skew 0
Column num_hashtags: type <class 'numpy.int64'>, missing 0, unique 20, skew 4.585751186658019
Column text_first_hashtag: type <class 'float'>, missing 66507, unique 9821, skew 0
Column num_mentions: type <class 'numpy.int64'>, missing 0, unique 23, skew 5.784392170749257
Column num_cashtags: type <class 'numpy.int64'>, missing 0, unique 4, skew 143.54528376935534
Column num_polls: type <class 'numpy.int64'>, missing 0, unique 2, skew 7.51920390748386
Column interaction_score: type <class 'numpy.float64'>, missing 0, unique 36855, skew 88.4926005474491

In [ ]:
dummies_list = ["lang", "possibly_sensitive", "reply_settings", "source", "is_retweet", "is_reply", "contains_quote"]
label = "interaction_score"
drop_list = ["handle", "id", "retweet_count", "reply_count", "like_count", "quote_count", "followers", "text_first_hashtag"]
date_list = ["created_at"]
needs_fix_skew = ["num_hashtags", "num_mentions", "num_cashtags", "num_polls"]

In [ ]:
df = pd.get_dummies(df, columns=['lang', 'reply_settings', 'source', 'protected', 'verified', 'terms'], drop_first=True).drop(columns=['likes', 'quotes', 'replies']).select_dtypes('number')
df.drop(inplace=True, columns=drop_list)